:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #e5e5e5;
  --white-color: #ffffff;
  --hero-footer-color: #2f303a;
  --secondary-white-color: #f5f4fa;
  --color-border: #ececec;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --social-icon-color: rgba(175, 177, 184, 1);
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background: var(--white-color);
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

header .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 25px;
}

@media screen and (max-width: 1199px) {
  header .container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.site-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.site-nav__logo-link {
  display: flex;
}

.site-nav__web-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

@media screen and (max-width: 1200px) {
  .site-nav__web-logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    color: vr(--accent-color);
  }
}

.site-nav__studio-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--title-text-color);
}

@media screen and (max-width: 1200px) {
  .site-nav__studio-logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
  }
}

.nav-list {
  display: flex;
  align-items: center;
  padding-left: 0px;
}

@media screen and (max-width: 1199px) {
  .nav-list {
    align-items: center;
  }
}

.nav-list__item {
  align-items: center;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  position: relative;
  content: "";
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link:hover, .nav-list__link:focus, .nav-list__link:active,
.nav-list__link a .activ {
  color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .nav-list__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1333;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }
}

.activ::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  left: 0px;
  top: 45px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .activ::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    left: 0px;
    top: 41px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

.header-contact-list {
  display: flex;
  align-items: center;
  margin-left: 305px;
}

@media screen and (max-width: 1199px) {
  .header-contact-list {
    display: block;
    margin-left: 84px;
  }
}

@media screen and (max-width: 1199px) {
  .header-contact-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact-list__item {
    display: flex;
  }
  .header-contact-list__item:not(:last-child) {
    margin-right: 50px;
  }
}

.header-contact-list__item svg {
  margin-right: 10px;
  border-color: var(--primary-text-color);
}

@media screen and (max-width: 1199px) {
  .header-contact-list__item svg {
    margin-right: 8px;
  }
}

.header-contact-list__link {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-list__link:hover, .header-contact-list__link:focus, .header-contact-list__link:active {
  color: var(--accent-color);
  fill: currentColor;
}

@media screen and (max-width: 1199px) {
  .header-contact-list__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
}

@media screen and (max-width: 1199px) {
  .header-contact-list__link--mail svg {
    width: 14px;
    height: 10px;
  }
}

@media screen and (max-width: 1199px) {
  .header-contact-list__link--tell svg {
    width: 10px;
    height: 14px;
  }
}

header {
  background-color: var(--white-color);
  border-bottom: 1px solid var(--color-border);
}

.nav-wraper {
  display: flex;
}

@media (max-width: 767px) {
  .nav-wraper {
    display: none;
  }
}

.menu-container {
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white-color);
  transform: translate(100%);
  transition: transform 250ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  z-index: 2;
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu__close {
  position: absolute;
  top: 21px;
  right: 10px;
}

.mobile-menu__item {
  margin-bottom: 36px;
}

.mobile-menu__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.119;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}

.mobile-activ {
  color: var(--accent-color);
}

.mobile-contacts__link--tell {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 32px;
}

.mobile-contacts__link--mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 64px;
}

.mobile-media {
  display: flex;
  align-items: center;
}

.mobile-media__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

@media screen and (max-width: 479px) {
  .mobile-media {
    flex-wrap: wrap;
  }
  .mobile-media__item {
    margin-bottom: 10px;
  }
}

.mobile-media__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.menu-button {
  border: 0;
  padding: 0;
  border-color: transparent;
}

.menu-button:hover, .menu-button:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 767px) {
  .menu-button {
    display: none;
  }
}

.menu-button__close {
  display: block;
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: #fff;
}

.menu-button__close:hover {
  color: var(--accent-color);
}

.icon-open {
  display: block;
  outline: none;
  background-color: #fff;
  fill: currentColor;
}

.icon-close {
  display: block;
  outline: none;
  background-color: #fff;
  fill: currentColor;
}

.heroy {
  padding-top: 116px;
  padding-bottom: 118px;
  height: 100%;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heroy_mobile-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .heroy {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heroy_mobile-2x.jpg);
  }
}

@media screen and (min-width: 480px) {
  .heroy {
    background-size: 480px;
  }
}

@media screen and (min-width: 768px) {
  .heroy {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heroy_tablet-1x.jpg);
    background-size: 768px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .heroy {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heroy_tablet-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .heroy {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heroy_foto.jpg);
    background-size: 1600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .heroy {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heroy_foto2x.jpg);
  }
}

.heroy-title {
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0, 06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .heroy-title {
    font-size: 44px;
    line-height: 1.364;
  }
}

.order-service {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0, 06em;
  display: flex;
  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
  background: var(--accent-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  margin: auto;
  display: block;
  border: 0px;
}

.order-service:hover {
  cursor: pointer;
}

.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000033;
  visibility: visible;
  z-index: 2;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(50%, 50%) scale(0, 3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--white-color);
}

@media screen and (max-width: 479px) {
  .modal {
    padding: 15px;
    margin-top: 30px;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .modal {
    width: 95%;
  }
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    margin-top: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__button {
  display: block;
  position: fixed;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #0000001a;
  padding: 5px;
}

.modal__button:hover, .modal__button:focus {
  cursor: pointer;
  color: var(--accent-color);
}

.modal__close-icon:hover {
  fill: var(--accent-color);
}

.modal__title {
  text-align: center;
  margin-bottom: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__field {
  text-align: left;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-form__wrap {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form__input {
  height: 40px;
  width: 100%;
  padding: 0;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:hover, .modal-form__input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.modal-form__input:hover + .modal-form__icon,
.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment__label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  display: block;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
}

.form-comment__text {
  width: 100%;
  height: 120px;
  padding-top: 12px;
  padding-left: 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  resize: none;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

@media screen and (max-width: 1199px) {
  .form-comment__text {
    font-size: 14px;
    line-height: 1.142;
  }
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .checkbox {
    font-size: 14px;
    line-height: 1.714;
  }
}

@media screen and (max-width: 1199px) {
  .checkbox {
    display: flex;
    flex-wrap: nowrap;
  }
}

.checkbox__visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.checkbox__input {
  display: inline-block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.checkbox__input:checked + .checkbox__icon {
  background-image: url(/images/icon-check.svg);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  color: var(--white-color);
  border-radius: 4px;
  border: 2px solid black;
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__text {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  padding-left: 7px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

@media screen and (max-width: 1199px) {
  .checkbox__text {
    font-size: 12px;
    line-height: 1.166;
  }
}

.checkbox__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: underline;
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .checkbox__link {
    font-size: 12px;
    line-height: 1.166;
  }
}

.form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding: 0;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--white-color);
  border-radius: 4px;
  border: 0px solid transparent;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.advantage {
  background-color: var(--white-color);
  padding: 60px 0 60px 0;
}

@media screen and (min-width: 1200px) {
  .advantage {
    padding: 94px 0 94px 0;
  }
}

.advantage__list {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .advantage__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantage__item::before {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
  .advantage__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantage__item {
    width: calc((100% - 30px) / 2);
  }
  .advantage__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .advantage__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage__item {
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
  .advantage__item:not(:last-child) {
    margin-right: 30px;
  }
}

.advantage__icon-attention::before {
  background: url(../images/icon/antenna.svg) no-repeat, var(--secondary-white-color);
  background-position: center;
}

.advantage__icon-punctuality::before {
  background: url(../images/icon/clock.svg) no-repeat, var(--secondary-white-color);
  background-position: center;
}

.advantage__icon-plan::before {
  background: url(../images/icon/diagram.svg) no-repeat, var(--secondary-white-color);
  background-position: center;
}

.advantage__icon-technology::before {
  background: url(../images/icon/astronaut.svg) no-repeat, var(--secondary-white-color);
  background-position: center;
}

.advantage__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--title-text-color);
  padding-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .advantage__title {
    text-align: left;
  }
}

.advantage__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--primary-text-color);
}

.team {
  padding: 60px 0 60px 0;
  background: var(--secondary-white-color);
}

@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0 94px 0;
  }
}

.team__item {
  width: 100%;
  background: var(--white-color);
  box-shadow: var(--card-shadow);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
  .team__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .team__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.team__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team__title {
    font-style: 36px;
    margin-bottom: 50px;
  }
}

.team__list {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.card-team {
  padding: 30px 0 30px 0;
}

.card-team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.card-team__profession {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-text-color);
}

.card-team__name b {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.card-team__icon {
  fill: currentColor;
  stroke: currentColor;
  width: 20px;
  height: 20px;
}

.card-team__list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.card-team__item:not(:last-child) {
  margin-right: 10px;
}

.card-team__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--social-icon-color);
  background-color: var(--white-color);
  border-radius: 50%;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-team__link:hover, .card-team__link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.work {
  padding: 60px 0 60px 0;
}

@media screen and (min-width: 1200px) {
  .work {
    padding: 0 0 94px 0;
  }
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.work__list {
  display: flex;
  justify-content: space-between;
}

.work__item {
  position: relative;
}

.work__card-name {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  line-height: inherit;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background: rgba(47, 48, 58, 0.8);
}

.clients {
  padding: 60px 0 60px 0;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0 94px 0;
  }
}

.clients__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

@media screen and (max-width: 1199px) {
  .clients__title {
    font-size: 28px;
    line-height: 1.178;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
}

.clients__link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--social-icon-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.clients__item {
  height: 92px;
}

@media screen and (max-width: 767px) {
  .clients__item {
    width: calc((100% - 30px) / 2);
  }
  .clients__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .clients__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 2 * 30px) / 3);
  }
  .clients__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 5 * 30px) / 6);
  }
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .buttons {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  .buttons {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .buttons {
    margin-bottom: 50px;
  }
}

.buttons__item {
  margin-right: 8px;
  background: var(--secondary-white-color);
  border-radius: 4px;
}

.buttons__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.buttons__item:active, .buttons__item:hover, .buttons__item:focus {
  background-color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .buttons__item {
    margin-bottom: 15px;
  }
}

.buttons__x {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  cursor: pointer;
  border: none;
  padding: 6px 22px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons__x:focus, .buttons__x:hover, .buttons__x:active {
  color: var(--white-color);
  background: var(--accent-color);
}

.main {
  padding: 60px 0 60px 0;
}

.menu {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .menu {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.menu__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.menu__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.menu__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
  border-bottom: 1px solid var(--card-shadow);
}

.menu__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 767px) {
  .menu__item {
    margin-left: 0px;
  }
  .menu__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .menu__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .menu__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.menu__card-content--title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.menu__card-content--text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.menu__card-content {
  padding: 20px;
  background-color: var(--white-color);
  border: 1px solid #eeeeee;
}

.menu__link {
  display: block;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover .menu__overlay,
.menu__link:focus .menu__overlay {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.menu__thumb {
  position: relative;
  overflow: hidden;
}

.menu__overlay--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 322px;
  height: 168px;
  margin: 0;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.menu__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background: var(--hero-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .footcontact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footcontact {
    margin-right: 70px;
  }
}

.footcontact__logo-link {
  margin-bottom: 20px;
}

.footcontact__web-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}

.footcontact__studio-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--white-color);
}

.footcontact__address {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--white-color);
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .footcontact__address {
    margin-bottom: 9px;
  }
}

@media screen and (max-width: 1199px) {
  .footcontact__item:nth-child(2) {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 1199px) and (max-width: 1199px) {
  .footcontact__item {
    text-align: center;
  }
}

.footcontact__mail-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}

.footcontact__mail-link:focus, .footcontact__mail-link:hover {
  color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .footcontact__mail-link {
    margin-bottom: 0px;
  }
}

.footcontact__tel-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.footcontact__tel-link:hover, .footcontact__tel-link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .sociallink {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
  }
}

.sociallink__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: uppercase;
  color: var(--white-color);
  margin-top: 12px;
}

.sociallink__list {
  display: flex;
  margin-top: 20px;
}

.sociallink__item:not(:last-child) {
  margin-right: 10px;
}

.sociallink .sociallink__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff1a;
  width: 44px;
  height: 44px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sociallink .sociallink__link:hover, .sociallink .sociallink__link:focus {
  background-color: var(--accent-color);
}

.sociallink__social-link {
  height: 20px;
  width: 20px;
  fill: var(--white-color);
}

.subscription {
  margin-top: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

@media screen and (max-width: 1199px) {
  .subscription {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscription {
    margin-left: auto;
  }
}

.subscription__form {
  display: flex;
}

@media screen and (max-width: 1199px) {
  .subscription__form {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.subscription__mail {
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: var(--white-color);
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription__mail {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription__mail {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.subscription__btn {
  position: relative;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  padding-right: 62px;
  padding-left: 29px;
  border: 0px solid transparent;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px black;
  border-radius: 4px;
  color: var(--white-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription__btn::after {
  background-image: url(../images/icon/icon-send.svg);
  width: 24px;
  height: 24px;
  position: absolute;
  content: "";
  top: 13px;
  right: 28px;
  fill: var(--white-color);
}
/*# sourceMappingURL=main.css.map */