.footer {
  background: var(--hero-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    align-items: baseline;
  }
}
.footcontact {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}
.footcontact__logo-link {
  margin-bottom: 20px;
}
.footcontact__web-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  color: var(--accent-color);
}
.footcontact__studio-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  color: var(--white-color);
}
.footcontact__address {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--white-color);
  margin-bottom: 8px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}
.footcontact__item {
  text-align: center;
  @media screen and (max-width: 1199px) {
    &:nth-child(2) {
      margin-bottom: 8px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:nth-child(2) {
      margin-bottom: 9px;
    }
  }
}

.footcontact__mail-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}
.footcontact__tel-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.sociallink {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
  }
}
.sociallink__title {
  font-weight: bold;
  font-size: 14px;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: uppercase;
  color: var(--white-color);
  margin-top: 12px;
}
.sociallink__list {
  display: flex;
  margin-top: 20px;
}
.sociallink__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.sociallink .sociallink__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff1a;
  width: 44px;
  height: 44px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.sociallink__social-link {
  height: 20px;
  width: 20px;
  fill: var(--white-color);
}
.subscription {
  // margin-left: 93px;
  margin-top: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.subscription__form {
  display: flex;
  // width: 570px;
  // height: 86px;
  @media screen and (max-width: 1199px) {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.subscription__mail {
  // width: 358px;
  // height: 50px;
  // background-color: var(--hero-footer-color);
  // margin-top: 20px;
  // margin-right: 12px;
  // padding: 15px 16px;
  // color: rgba(255, 255, 255, 0.3);
  // border: 1px solid rgba(255, 255, 255, 0.3);
  // box-sizing: border-box;
  // border-radius: 4px;
  // outline: none;
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 15px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;

  color: var(--white-color);

  cursor: pointer;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.subscription__btn {
  position: relative;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  padding-right: 62px;
  padding-left: 29px;
  border: 0px solid transparent;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 15);
  border-radius: 4px;
  color: var(--white-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::after {
    background-image: url(../images/icon/icon-send.svg);
    width: 24px;
    height: 24px;
    position: absolute;
    content: "";
    top: 13px;
    right: 28px;
    fill: var(--white-color);
  }
}
